.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shop {
  width: 20%;
display: flex; flex-direction: column;
  position: absolute;
  top: 0%;
  left: 0%;
}

img {
  touch-action: manipulation;
}